
<h1><strong>Data Binding</strong></h1>
<p>data binding is like a bridge that connects the data in your app with what the user sees on the screen (the UI).
   It keeps everything in sync without you needing to update things manually.</p>

  <div class="type">
    <ul>
      <li><a href="#">One Way Binding</a></li>
      <li><a href="#">Two Way Binding</a></li>
    </ul>
  </div>

  <div class="one-way">
    <h3><strong>One-Way Data Binding</strong></h3>

    <p>
    Think of it like writing on a whiteboard. You write something, and others see it.
     The app updates the screen whenever the data changes, but the user can't change the data directly.
   </p>

   <h6>Example:</h6> 
    <p>If you set your name in the app as "John," the screen will show "John."</p>
  </div>

  <div class="two-way">
    <h3><strong>Two-Way Data Binding</strong></h3>
    <p>
      This is like talking to someone over the phone. If you say something, they hear it, and if they reply, you hear it back.
       Changes on the screen (like user input) update the app's data, and changes in the app's data update the screen.
    </p>

    <h6>Example:</h6>
    
    <div>
      <ul>
        <li>You type "Alice" in a text box.</li>
          <li>The app instantly updates and shows "Hello, Alice!" somewhere on the screen.</li>
      </ul>
    </div>
    <div>When you click on "Data Binding" in the navigation menu, Angular routes you to the DataBindingComponent.
      If you added the fragment (#info), it scrolls directly to the section with that id.</div>
    
  </div>