.sidenav {
  display: inline-flexbox;
  width:15%;
  height:auto;
  background-color: rgb(210, 210, 210);
  
}
h1{
  text-align: center;
  padding-right: 6cqi;
  padding-top: 1cqi;
} 
ul li{
  margin-bottom: 10px; 
}

a:link {
  text-decoration: none;
}
